<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>If you would like to contact me with job opportunities or other business propositions you may do so by:</ion-card-title>
    <ion-card-content>
      <ion-item>Phone: +1 (816)-806-9896<ion-icon name="phone-portrait"></ion-icon></ion-item>
      <ion-item>Email: &nbsp; <a href="mailto: brockweekley@gmail.com">brockweekley@gmail.com &nbsp;<ion-icon name="mail"></ion-icon></a></ion-item>
      <ion-item>School Email: &nbsp; <a href="mailto: brockweekley@gmail.com">bdwmzc@mail.missouri.edu &nbsp;<ion-icon name="mail"></ion-icon></a></ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
