.back {
  cursor: pointer;
  margin-right: 2%;
}

.buttonIcon {
  margin-right: 4%;
}

.btn {
  height: 5vw;
  width: 50%;
  margin-left: 25%;
  font-size: 1.5vw;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 2%;
  background-image: linear-gradient(darkgrey, black);
}

.logged {
  color: whitesmoke;
  text-align: center;
}
