<ion-header>
  <ion-toolbar>
    <ion-title>
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1>Current Web Projects:</h1>
    <ion-item><a href="https://www.bdwmzc.com/chat/dist/chat/"><ion-icon name="chatboxes"></ion-icon></a> <a href="https://www.bdwmzc.com/chat/dist/chat/">Chat App</a></ion-item>
    <ion-item><a href="https://www.bdwmzc.com/cards/"><ion-icon name="browsers"></ion-icon></a><a href="https://www.bdwmzc.com/cards/">Business Card Creator</a></ion-item>
    <ion-item><a href="https://www.bdwmzc.com/games/"><ion-icon name="logo-game-controller-a"></ion-icon></a><a href="https://www.bdwmzc.com/games/">Game Library and Lookup</a></ion-item>
    <ion-item><a href="https://www.bdwmzc.com/MVC/"><ion-icon name="restaurant"></ion-icon></a><a href="https://www.bdwmzc.com/MVC/">Restaurant Review App</a></ion-item>
    <ion-item><a href="https://www.bdwmzc.com:4040/"><ion-icon name="planet"></ion-icon></a><a href="https://www.bdwmzc.com:4040/">Planet's Positions Scrape and API</a></ion-item>
    <ion-item><a href="https://www.bdwmzc.com/images/"><ion-icon name="cloud-upload"></ion-icon></a><a href="https://www.bdwmzc.com/images/">PHP Image Upload</a></ion-item>
  </ion-card>
</ion-content>
